In [93]:
## Data types
## Numbers= 
  # 1) integers-- Whole Numbers
  # 2) Float-- Numbers with Decimels
  # 3) complex-- Realr + Imaginary

In [94]:
x=3
y=4.3
z=3+3j

In [95]:
type(x)

int

In [96]:
type(y)

float

In [97]:
type(z)

complex

In [98]:
## Sring Type (text)
# Text data or sring are enclosed in quotes (' ' or " ")

In [99]:
name="Shubham"
type(name)

str

In [100]:
#List
#Tuple
#Range
#Dictionary
#Set

In [101]:
name="Shubham"
# name= VAriable
#variable is place holder for Our Data

Rules for create variable 

- 1. Sart with a letter or under score
    ex. name, _age, student1
- 2. we not ableto create variable which staring with numbers

-3. Varable only contains numbers , Letters, Underscore only
   
    - We are not allow to use special character as varible

-4. Python is case sensitive 
-5. There are some inbuilt keyword in python they aslo not use as varible

   --ex if,for , while, class, def, return etc

In [102]:
2name= "Shubham"

SyntaxError: invalid decimal literal (1242076219.py, line 1)

OPERATIONS

1. Arithmatic Operations

- Used For basic mathematic calculations 

- + is for addition
- - for sustraction
- * for multiplication 
- / for Division
- // Floar Division
- % modulus (Gives Whole Number)
- ** Exponet

In [ ]:
print(10+5)
print(10-5)
print(10*5)
print(10/4)
print(10//4) # gives us Whole Number
print(10%4) #remainder
print(2**3)

15
5
50
2.5
2
2
8

#Logical Operators

- Use to Check Multiple Conditions ( True or Flase)

- and , or, not, operators

In [ ]:
# and --> Returns True if Both Conditions Are True

(5>3 and 7<9)

True

In [ ]:
# or --> Return True if any condition is True 

(5>3 or 7>4)

True

In [ ]:
# not--> Reverse the result
not(3>5)

True

# Asssignment Opertators
- Used to assign values to variables And can do calculations at same time

In [ ]:
# = Assign Values
x=7
print(x)

# += Add and Assign 
x +=3
print(x)
#or
x=x+4
print(x)

#-= substract and assign

x -= 7
print(x)

# *= Multiply And assign

x*=3
print(x)

# /= Devide and Assign
x /= 7
print(x)

#//= Floar devide and assign

# %= Modulus and assign

# **= Power and assign

7
10
14
7
21
3.0

# Membership Operators

-in --> Return true if value exists

- not in -->  Returns true if value does not exists

In [ ]:
# in 

"b" in "Shubham"

True

In [ ]:
# not in 

"A" not in "sdffghh"

True

# Identity Operator

- is--> check whether two varibles refer tp the same object( memory location)

- is not--> returns true if there are not common  values in diifrent variable

In [ ]:
# is identity operator
x= 1
y=1 

x is y

True

In [ ]:
#is not identity operator

x=2
y=5

x is not y

True

# Comparison Operator

## They Are use to compare Two Variable or Values

- == Equal to 

- != Not Equal to

- > Greater Than

- < Lesser Than

- >= Greate Than equal to 

- <=  Lesser than Equal to

# String Data Type

##String Are use to represent textual data

In [ ]:
institute='Edukron'

focus_area="Data Engineer"

tech_Stack="""Data enginnering and Python"""

In [ ]:
print(type(institute))

print(type(focus_area))

print(type(tech_Stack))

<class 'str'>
<class 'str'>
<class 'str'>

## Concatination and Repetation

- '+' : Join two string together and creating new string

- '*' : Reapets the string a specified number of time

In [ ]:
# Concatination

# 1. Combining institute and focus area

full_title=institute + focus_area

full_title

'EdukronData Engineer'

In [ ]:
full_title=institute +" " + focus_area
full_title

'Edukron Data Engineer'

In [ ]:
age=30
name="shubham"
place="Pune"

In [ ]:
"My Name is name age is age place is place"

'My Name is name age is age place is place'

In [ ]:
f"My name is {name} age is {age} place is {place} "

'My name is shubham age is 30 place is Pune '

In [ ]:
# 2. Creating a Course Welcome message

Course_name = "Data Enginner"
welcome_message= "Welcome to" +" "+ institute+ "'s" +" "+ Course_name+" " + "course!"
welcome_message

"Welcome to Edukron's Data Enginner course!"

In [ ]:
print(f"welcome message:{welcome_message}")

welcome message:Welcome to Edukron's Data Enginner course!

In [ ]:
#Repetation
print(institute)
repeted= institute*10
print(repeted)

Edukron
EdukronEdukronEdukronEdukronEdukronEdukronEdukronEdukronEdukronEdukron

In [ ]:
part1="Learn "
part2="Data science and Data Engineering "
part3="now"

print(f"{part1}{part2}{part3}")

Learn Data science and Data Engineering now

#Length  len()

- It is inbuilt function that returns the number of character (length) of a srtring

In [ ]:
institute= "Edukron"
course_slogan="Learn Data Engineering with Real-Time Projects"
tech_stack= "Azure DevOps and Python"

In [ ]:
name_length=len(institute)
print(f"Length of '{institute}' : {name_length}")

Length of 'Edukron' : 7

In [ ]:
len(course_slogan)

46

In [ ]:
len(tech_Stack)

27

## Indexing ([]) ans Slicing([:])

- Indexing : Accesing a single character at a specific position(index)

- There aretwo types of indexing 1. Positive index and 2. Negative index

- positive index start fron count 0(from left side)

- negative index start from -1(from right side)|

In [ ]:
institute= "Edukron"
institute[0]

'E'

In [ ]:
#Slicing
##Extracting a portion (substring) of the string using [start:stop:step]
    ##start= the index where the slice begins
    ##sotp= The index where the slice ends(exclusive).Default

In [ ]:
tech_stack= "Azure DevOps and Python"

In [ ]:
#Slicing 

# Get first 5 character of tech_stack
#start--> inclusive
#stop--> exclusive

first_5= tech_stack[0:5]
first_5

'Azure'

In [ ]:
first_5= tech_stack[6:]
first_5

'DevOps and Python'

In [ ]:
#Get the substring "DevOps"
DevOps= tech_stack[6:12]
DevOps

'DevOps'

In [ ]:
python_part= tech_stack[-6:]
python_part

'Python'

In [ ]:
tech_stack[::-1]

'nohtyP dna spOveD eruzA'

### str.lower() and str.upper()

- Lower(): Return With all character convert to lower case.

-Upper(): returns all character to upper case.

In [ ]:
institute='Edukron'

focus_area="Data Engineer"

tech_Stack="Data enginnering and Python"

In [ ]:
## Lower 
lower_institute= institute.lower()
lower_institute

'edukron'

In [ ]:
upper_institute= institute.upper()
print(upper_institute)

upper_focus=focus_area.upper()
print(upper_focus)

upper_tech_stack=tech_Stack.upper()
upper_tech_stack

EDUKRON
DATA ENGINEER

'DATA ENGINNERING AND PYTHON'

In [ ]:
code="Batch-101-DE"
lower_code= code.lower()
upper_code=code.upper()

print(f"Lowercase:'{lower_code}', Uppercase:'{upper_code}'")

Lowercase:'batch-101-de', Uppercase:'BATCH-101-DE'

## str.strip(), str.lstrip() , str.rstrip()

- strip([chars]):Return a new string with leading and trailing spaces are removed.

- lstrip([]): Remove leading char and spaces.

-  rstrip([]): Remove trailing char and spaces.

In [ ]:
strip= "   Shubham   "

In [ ]:
claened_strip=strip.strip()
claened_strip

'Shubham'

In [ ]:
cleaned_lstrip=strip.lstrip()
cleaned_lstrip

'Shubham   '

In [ ]:
cleaned_rstrip=strip.rstrip()
cleaned_rstrip

'   Shubham'

In [ ]:
## specific Character removing uusing strip

course_code="===DE001==="
course_code

'===DE001==='

In [ ]:
cleaned_code=course_code.strip("=")
print(cleaned_code) ##bothe side 

cleaned_code=course_code.lstrip("=")
print(cleaned_code) ##only left side

cleaned_code=course_code.rstrip("=")
print(cleaned_code)  ##only right side

DE001
DE001===
===DE001

In [ ]:
path="/courses/Azure/"
clear_path=path.strip("/")
print(clear_path)

courses/Azure

In [ ]:
clear_path=path.strip("/ce")
print(clear_path)

ourses/Azur

#Replace ==> str.replace(old,new[,count])

-- Return a new string where all occurances of a the substring old are replace with
    the new substring . If the optional argummets count is given, only the first count occurence is replaced.

In [ ]:
course_slogan="Learn Data Engineering with Real-time Projects"

teck_stack="Azure DevOps and Python and SQL"

In [ ]:
##Replaccing "Data engineering " with "Data Science"

new_slogan= course_slogan.replace("Data Engineering","Data Science")

print(new_slogan)

Learn Data Science with Real-time Projects

In [ ]:
new_slogan=course_slogan.replace("Data Engineering","Data Science").replace("Real-time","Hands-On")
print(new_slogan)

Learn Data Science with Hands-On Projects

In [ ]:
##Replace space with _

new_slogan=course_slogan.replace(" ","_")
print(new_slogan)

Learn_Data_Engineering_with_Real-time_Projects

In [ ]:
new_slogan=course_slogan.replace(" ","_").lower() ##Chaining with lower
print(new_slogan)

new_slogan=course_slogan.replace(" ","_").upper() ##Chaining with Upper
print(new_slogan)

#Chaining= peform 2 or more functions together

learn_data_engineering_with_real-time_projects
LEARN_DATA_ENGINEERING_WITH_REAL-TIME_PROJECTS

In [ ]:
teck_stack="Azure DevOps and Python and SQL"

##Replace and with & 

replace_tech_stack= teck_stack.replace("and","&")

print(replace_tech_stack)

Azure DevOps & Python & SQL

In [ ]:
##Replace only first and with & 

replace_tech_stack=teck_stack.replace("and","&",1)
print(replace_tech_stack)

Azure DevOps & Python and SQL

In [ ]:
replace_tech_stack=teck_stack.replace("and","&",3)
print(replace_tech_stack)

Azure DevOps & Python & SQL

In [ ]:
course_slogan="Learn Data Engineering with Real-time Projects"

## By usinng replace remove all space 

Space_replace=course_slogan.replace(" ","")

print(Space_replace)

LearnDataEngineeringwithReal-timeProjects

In [ ]:
## REplacing  character which does not exist

not_exist=teck_stack.replace("Machine","shubham")
print(not_exist)

Azure DevOps and Python and SQL

In [ ]:
file_name= "project report final.docx"
##replacce space with _ and .docx with .pdf

new_file= file_name.replace(" ","_").replace(".docx",".pdf")

print(new_file)

project_report_final.pdf

In [ ]:
file_name= "project report final.docx"
##replacing using count=0(nothing is chane it keep data as it is)

new_file= file_name.replace(" ","_",0).replace(".docx",".pdf",0)

print(new_file)

project report final.docx

#Split 

-- str.split(seprater=none, maxsplit= -1).

- Return a list of substring by spliting the string at occurance of the separator.

- if sep is omittedd or none, splis by any whitespace character and discard empty srings.

- if sep is specified , splits at the seperator.

- maxsplit : if specified, perform at most maxsplit splits.

In [103]:
course_slogan="Learn Data Engineering with Real-time Projects"

teck_stack="Azure DevOps and Python and SQL"

institute= "Edukron"

In [104]:
split_slogan=course_slogan.split()

print(split_slogan)

['Learn', 'Data', 'Engineering', 'with', 'Real-time', 'Projects']

In [108]:
teck_stack="Azure DevOps and Python and SQL"

skills=teck_stack.split()
print(skills)

['Azure', 'DevOps', 'and', 'Python', 'and', 'SQL']

In [109]:
institute= "Edukron"

part=institute.split("k")
print(part)

['Edu', 'ron']

In [110]:
course_slogan="Learn Data Engineering with Real-time Projects"

split_limit=course_slogan.split(maxsplit=3)

print(split_limit)

['Learn', 'Data', 'Engineering', 'with Real-time Projects']

In [111]:
course_slogan="Learn Data Engineering with Real-time Projects"

split_limit=course_slogan.split(" ", maxsplit=3)

print(split_limit)

['Learn', 'Data', 'Engineering', 'with Real-time Projects']

In [112]:
path="/data/engineering/"
parts=path.split("/")

print(parts)

['', 'data', 'engineering', '']

#Sring Join

- - string.joiniterable
#### List which we get as output from slipt

-= The opposite of the split . tackes an itrrable (list or tuple) of string and cocanates its elements, using the
    string on which the method is called as the seperator between elements.

In [ ]:
course_list=["Data Science", "Data Engineering", "Azure DevOps"]  #LIst

tech_skills=("Python", "SQL", "Git", "CI/CD") #Tuple

words= ['Learn', 'Data', 'Engineering'] #List

In [115]:
join_Course= ", ".join(course_list)
print(join_Course)

Data Science, Data Engineering, Azure DevOps

In [ ]:
join_Course= ", ".join(course_list)
print(f"joined Course : '{join_Course}'")

joined Course : 'Data Science, Data Engineering, Azure DevOps'

In [117]:
joined_skills="-".join(tech_skills)
joined_skills

'Python-SQL-Git-CI/CD'

In [118]:
words= ['Learn', 'Data', 'Engineering']

sentence=" ".join(words)

print(sentence)

Learn Data Engineering

## str.startswith(prefix[,start[,end]])

## str.endswith(suffix[,start[,end]])

-- stsrtswith(): Return true if the string starts with the specified prefix,False otherwise.

--endswith(): Return true if the string endss with the specified suffix,False otherwise.

In [119]:
institute="Edukron"

course_slogan="Learn Data Engineering with Real-Time Projects"

file_name="edukron_report.pdf"

In [ ]:
## Check institute start with Edu
start_edu=institute.startswith("Edu")
start_edu

True

In [121]:
## Its a case-sensetive Function
start_edu=institute.startswith("edu")
start_edu

False

In [122]:
start_edu=institute.startswith("abc")
start_edu

False

In [123]:
course_slogan="Learn Data Engineering with Real-Time Projects"

#To chek its end with Projects or not

endswith_Projects=course_slogan.endswith("Projects")

endswith_Projects

True

In [124]:
endswith_Projects=course_slogan.endswith("cts")

endswith_Projects

True

In [125]:
file_name="edukron_report.pdf"
end_pdf=file_name.endswith("pdf")

end_pdf

True

In [126]:
file_name="edukron_report.pdf"
end_pdf=file_name.endswith("dcc")

end_pdf

False

In [128]:
## Check if slogan starts with "Learn" or "Explore"

course_slogan="Learn Data Engineering with Real-Time Projects"

starts_learn_explore=course_slogan.startswith(("Learn","Explore"))

starts_learn_explore

True

In [129]:
# check a slice: does "Engineering" start at index 11 at slogan ?

course_slogan="Learn Data Engineering with Real-Time Projects"

slice_check_start=course_slogan.startswith("Engineering",11)

slice_check_start

True

In [130]:
course_slogan="Learn Data Engineering with Real-Time Projects"

slice_check_start=course_slogan.startswith("Engineering",10)

slice_check_start

False

In [132]:
## check a slice : does "Real-Time" end at index 36>?

slice_check_end=course_slogan.endswith("Real-Time",0,36)

slice_check_end

False

### str.find(sub[,start][,end]) and str.index(sbu[,start][,end])

- find(): Searches for the first occurence of subsrting sub with the the string.(or the specified slice).
   Returns the starting index if find and if not found.


- index():  sane as find(), but raises a value if the substring not foun.
   use find() is you expect the substring might be missing and want to handle it gracefully (-1)
- use index if you expect the subtring to be present and waant an error if its not.

In [133]:
course_slogan="Learn Data Engineering with Real-Time Projects"

index_data= course_slogan.find("Data")
index_data

6

In [134]:
institute="Edukron"

course_slogan="Learn Data Engineering with Real-Time Projects"

file_name="edukron_report.pdf"