# tuple

- Tuple are immutable ( un Chandable),ordered sequence of items

- They are defined using () , item is sepersted by comas.

- like list they can contains item diff type.

- Because  they are immutable they are use to fixed collection of items.

- Tuple support indexing , slicing,len() and membership testing(in, not in) like list.

- They lack methods that modifies the tuple like remove,extend,append ect.

- They have only two primary methods which is count() and index.

In [1]:
empty_tuple=()
type(empty_tuple)

tuple

## creation and indexing of the tuple

- Creating tuple and accessing elements of tuple.

In [2]:
tech_skills=("Python","SQL","Git","CI/CD","Python")

course_info=("DE01","Data Engineering",15,4.8)

In [3]:
## Acecess Second Skill

tech_skills[1]

'SQL'

In [4]:
# acess last skill
tech_skills[-1]

'Python'

In [5]:
##  first two skill by using slicing

tech_skills[:2]

('Python', 'SQL')

In [6]:
## get cource name and course rating
course_info=("DE01","Data Engineering",15,4.8)

course_info[1::2]

('Data Engineering', 4.8)

In [7]:
name_rating=course_info[0],course_info[-1],course_info[0]
name_rating

('DE01', 4.8, 'DE01')

In [8]:
# Tuole packing

student_record="Lohit",102,"DE"
student_record

('Lohit', 102, 'DE')

In [9]:
type(student_record)

tuple

In [10]:
## Tuple Unpacking( assigning tuple elements to variable)

course_info=("DE01","Data Engineering",15,4.8)

In [11]:
## Assigning Elements as variables

course_id,course_name,duration,rating=course_info

## in Unpacking of varibe we have mention all varibles to each and every element otherwise it throws an error(Value Error)

In [12]:
## Accessesing varibles 
print(course_id)
print(course_name)
print(duration)
print(rating)

DE01
Data Engineering
15
4.8

In [13]:
## accessing elements of nested tuple

nested_tuple= (1,2,("a","B"),3)
nested_tuple

(1, 2, ('a', 'B'), 3)

In [14]:
nested_tuple[2][1]

'B'

In [15]:
nested_tuple= (1,2,("a","B"),3,("c",("d"),),4,5)
nested_tuple

(1, 2, ('a', 'B'), 3, ('c', 'd'), 4, 5)

In [16]:
print(nested_tuple[4][1]) ## +ve indexing

print(nested_tuple[-3][-1]) ## -ve indexing

d
d

In [17]:
nested_tuple= (1,2,("a","B"),3,("c",("d","e","f"),),4,5)
nested_tuple

(1, 2, ('a', 'B'), 3, ('c', ('d', 'e', 'f')), 4, 5)

In [18]:
nested_tuple[4][1][2]

'f'

## tuple.count(item)

- reurns the number of time specified element is appearde in tuple.

In [19]:
tech_skill=("Python","SQL","Git","CI/CD","Python","SQL","Python","SQL")

rating=(5,4,5,5,3,4,5,3,4,5)

In [20]:
tech_skill.count("Python")

3

In [21]:
tech_skill.count("Sql")

0

In [22]:
tech_skill.count("SQL")

3

In [23]:
tech_skill.count("CI/CD")

1

In [24]:
tech_skill.count("Shubham") ## if element is not in the tuple it gives 0 without throwing an erro

0

In [25]:
rating.count(3)

2

In [26]:
rating.count(4)

3

In [27]:
rating.count(5)

5

In [28]:
## count in mixed tyoe of tuple

mixed_tuple= (1,"Python",True,"Python",1,1)

In [29]:
mixed_tuple.count(1) ## True is valued 1 in pythond and Flase is valued as 0

4

## tuple.index[item[,start[end]]]

- Returns the index of the first occurence of the specified item.

- If specified item is not there it throws an error.

In [30]:
tech_skill=("Python","SQL","Git","CI/CD","Python","SQL","Python","SQL")

rating=(5,4,5,5,3,4,5,3,4,5)

In [31]:
sql_index= tech_skill.index("SQL")
sql_index

1

In [32]:
sql_index= tech_skill.index("Shubham") ## If element is not present
sql_index

ValueError: tuple.index(x): x not in tuple

In [ ]:
python_index=tech_skill.index("Python")
python_index

0

In [ ]:
rating=(5,4,5,5,3,4,5,3,4,5)

In [ ]:
rating.index(5)

0

In [ ]:
tech_skill.index("Python",1)

4

In [ ]:
tech_skill.index("SQL",2)

5

#### LOOP
- What is a for loop?
- A for loop is used when you want to reapeat some code for every iteme in a sequence(list,tuple,string or range)

for iteme in sequense :
   -do somethin

- for--> start the loop
- item--> tempory variable
- in--> used to access each element inside the sequence
- sequen--> can be the list , tuple whatever data is it

In [ ]:
print("HELLO WORLD")
print("HELLO WORLD")
print("HELLO WORLD")
print("HELLO WORLD")
print("HELLO WORLD")
print("HELLO WORLD")
print("HELLO WORLD")

HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD

In [ ]:
for i in range(5):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
for i in range(50):
    print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
fruits=["Apple","Banana","cherry"] ## sequence

for fruit in fruits:
    print(fruit)

Apple
Banana
cherry

In [ ]:
for i in fruits:
    print(i)

Apple
Banana
cherry

In [ ]:
for letter in "Shubham":
    print(letter)

S
h
u
b
h
a
m

In [ ]:
name=["lohit","nandini","shubham"]
upper_name=[]

for i in name:
    upper_name.append(i.upper())

print(name)
print(upper_name)

['lohit', 'nandini', 'shubham']
['LOHIT', 'NANDINI', 'SHUBHAM']

In [ ]:
mixed= [10,"hello",25,"world",40,"AI"]

number=[]
word=[]

for item in mixed:
    if type(item)==int:
        number.append(item)
    else:
        word.append(item)

print(number)
print(word)

[10, 25, 40]
['hello', 'world', 'AI']

##Range
- Represent an immutable sequence of number, typically used for looping a specific number of time for loop.

- Its memory efficient because it doesnt generate all the numbers at once, only when needed(its generator).

- range(stop), range(start,stop) or range(start,stop,step)

- ##### Commom Operation on range

-  len(),membership testing(in,not in),indexing,slicing.

In [ ]:
## creation and itteration

# creating range objects and using them in for loops.

# simple range (0 up to,but not including,5)
#range(stop)==
for i in range(5):
    print(f"- iteration{i}")

- iteration0
- iteration1
- iteration2
- iteration3
- iteration4

In [ ]:
#range with start and stop
## create batch id from 101 to 105

batch_ids= range(101,106)
for batch_id in batch_ids:
    print(f"-proccesing batch: {batch_id}")

-proccesing batch: 101
-proccesing batch: 102
-proccesing batch: 103
-proccesing batch: 104
-proccesing batch: 105

In [ ]:
# Range (start,stop,step)
## for finding even numbers

numbers=range(0,11,2)

for even_number in numbers:
    print(f"-Even Number:{even_number}")

-Even Number:0
-Even Number:2
-Even Number:4
-Even Number:6
-Even Number:8
-Even Number:10

In [ ]:
## For odd numbers

numbers=range(1,11,2)

for odd_number in numbers:
    print(f"-Even Number:{odd_number}")

-Even Number:1
-Even Number:3
-Even Number:5
-Even Number:7
-Even Number:9

In [ ]:
## count down

countdown=range(5,0,-1)

for i in countdown:
    print(i)

5
4
3
2
1

In [ ]:
course_list=["DS","DE","ADO"]

for i in range(len(course_list)):
    print(f"-index{i}:{course_list[i]}")

-index0:DS
-index1:DE
-index2:ADO

## CASTING

- Converting one data type into another data type.

- example.-- integer into float,or string into integer.

In [ ]:
type(5)

int

In [ ]:
x=5
print(type(x))

<class 'int'>

In [ ]:
y=float(x)
print(type(y))
print(y)

<class 'float'>
5.0

In [ ]:
## convert string in to integer
num='5'
print(type(num))
print(num)

x=int(num)
print(x)
print(type(x))

<class 'str'>
5
5
<class 'int'>

In [ ]:
num1='32'
num2='56'
print(num1+num2)

print(int(num1)+int(num2))

3256
88

In [ ]:
## we can convert range into list

batch_list=list(range(101,106))
print(batch_list)

[101, 102, 103, 104, 105]

In [ ]:
## we can use range to create tuple
even_tuple=tuple(range(0,10,2))
print(even_tuple)
print(type(even_tuple))

(0, 2, 4, 6, 8)
<class 'tuple'>

####len(),membership(in,not in),indexing,slicing

- getting length,check for number presence,accessing elements by index(without generating all numbers),and slicing range objects.

In [ ]:
batch_ids=range(101,106) #101,102,103,104,105
numbers=range(0,20,3)  ##3,6,9,12,15,18

In [ ]:
number_batches=len(batch_ids)
number_batches

5

In [ ]:
count_numbers=len(numbers)
count_numbers

7

In [ ]:
is_103_present=103 in batch_ids
is_103_present

True

In [ ]:
is_108_present=108 in batch_ids
is_108_present

False

In [ ]:
is_108_not_in=108 not in batch_ids
is_108_not_in

True

In [ ]:
numbers=range(0,20,3)  ##3,6,9,12,15,18

is_12_present=12 in numbers
is_12_present

True

In [ ]:
batch_ids=range(101,106) #101,102,103,104,105
numbers=range(0,20,3)  ##3,6,9,12,15,18

In [ ]:
## by using index for accessing data

first_batch_id=batch_ids[0]
first_batch_id

101

In [ ]:
last_batch_id=batch_ids[-1]
last_batch_id

105

In [ ]:
## Slicing for accessing data

batch_slice=batch_ids[0:2]

batch_slice

range(101, 103)

In [ ]:
batch_slice=batch_ids[0:2]
print(batch_slice)
list(batch_slice)
x=list(batch_slice)
print(type(x))

<class 'list'>

In [ ]:
batch_slice=batch_ids[0:2]
print(batch_slice)
tuple(batch_slice)
y=tuple(batch_slice)
print(type(y))

range(101, 103)
<class 'tuple'>