In [29]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("practice").getOrCreate()

sc=spark.sparkContext

In [30]:
## row number = its just a serial number to the row.

## rank== its a ranking the data and its not continues give the rank .. its step up with the serial.
             ## it skips the ranking and give the jump  rank.

## Denserank ==> its a ranking and its continuous rankin wich does not jump the rans its give the continuous rank .
                #it does not skip ranking

In [31]:
data=((100,),(200,),(600,),(100,),(600,),(200,),(100,),(400,),(500,))
##  we have to add comma when we create a single column data set because it not readable to the spark.
columns=['salary']

df=spark.createDataFrame(data,columns)

df.show()

+------+
|salary|
+------+
|   100|
|   200|
|   600|
|   100|
|   600|
|   200|
|   100|
|   400|
|   500|
+------+

In [32]:
## to appy the ranking we have to inport the window function.

from pyspark.sql.window import Window

from pyspark.sql import functions as F
## here window function does not support the groupBy so we have to use partitionBy function

## Windows specification

windowSpec=Window.orderBy(F.desc("salary"))




## for using window function we have to alway use orderBy or partitionBy (ordeBy is mandatory and partitionBy is optioonal)

In [38]:
## now we hace to apply our ranking function on the widows specification

result=df.withColumn("dense_rank",F.dense_rank().over(windowSpec))\
         .withColumn("rank_only",F.rank().over(windowSpec))

result.show()

+------+----------+---------+
|salary|dense_rank|rank_only|
+------+----------+---------+
|   600|         1|        1|
|   600|         1|        1|
|   500|         2|        3|
|   400|         3|        4|
|   200|         4|        5|
|   200|         4|        5|
|   100|         5|        7|
|   100|         5|        7|
|   100|         5|        7|
+------+----------+---------+

In [41]:
from pyspark.sql.window import Window
from pyspark.sql import functions as  F


data=((100,),(200,),(600,),(100,),(600,),(200,),(100,),(400,),(500,))
columns=['salary']

df=spark.createDataFrame(data,columns)

df.show()

windowSpec=Window.orderBy(F.desc("salary"))

result=df.withColumn("dense_rank",F.dense_rank().over(windowSpec))\
         .withColumn("rank",F.rank().over(windowSpec))

result.show()

+------+
|salary|
+------+
|   100|
|   200|
|   600|
|   100|
|   600|
|   200|
|   100|
|   400|
|   500|
+------+

+------+----------+----+
|salary|dense_rank|rank|
+------+----------+----+
|   600|         1|   1|
|   600|         1|   1|
|   500|         2|   3|
|   400|         3|   4|
|   200|         4|   5|
|   200|         4|   5|
|   100|         5|   7|
|   100|         5|   7|
|   100|         5|   7|
+------+----------+----+