In [1]:
from pyspark import SparkContext, SparkConf

conf=SparkConf().setAppName("sample")

sc=SparkContext(conf=conf)

In [2]:
list1=[1,2,3,4,5,6]

print(type(list1))

<class 'list'>

In [3]:
list1=[1,2,3,4,5,6]

## to convrt data type like list,tuple we have to use function called Parallelize
## Syntaxt: rdd=sc.parallelize(" file ")

rdd1=sc.parallelize(list1)

## to view the result we have also use another function calles collect

print(rdd1.collect())

print(type (rdd1))

[1, 2, 3, 4, 5, 6]
<class 'pyspark.core.rdd.RDD'>

In [4]:
##Task: now we have to get values from our RDD which <=4(Less than equal to 4)
## Filter : it id to filter out our RDD
##we did not able to perform a operation on RDD while using Filter it judt helpto filter out the elements.

result_rdd=rdd1.filter(lambda x : x<=4)

print(result_rdd.collect())

[1, 2, 3, 4]

In [5]:
## Task: i have to add 5 in every element which i have in my RDD
## Map Fuction: this function is able to perform operation on evry element of the RDD

result_rdd=rdd1.map(lambda x : x+5)

print(result_rdd.collect())

[6, 7, 8, 9, 10, 11]

In [19]:
list1=["hello students", "pyspark session is started"]

rdd_list1=sc.parallelize(list1)

result_rdd=rdd_list1.map(lambda x : x.split(" "))

print(result_rdd.collect())

[['hello', 'students'], ['pyspark', 'session', 'is', 'started']]

In [20]:
## now by using map function we got to diff list for two string
## but to get single flatten list we have to use flatMap function

##flatMap function: this function flatten all data in a sinle list in our RDD

result_rdd=rdd_list1.flatMap(lambda x : x.split(" "))

print(result_rdd.collect())

['hello', 'students', 'pyspark', 'session', 'is', 'started']

In [8]:
list1=["hello", "students", "pyspark", "session", "is" "started"]

rdd_list1=sc.parallelize(list1)

result_rdd=rdd_list1.map(lambda x : x.split(" "))

print(result_rdd.collect()) ## here we get every element separated but each string belong to diff list

[['hello'], ['students'], ['pyspark'], ['session'], ['isstarted']]

In [9]:
list1=["hello", "students", "pyspark", "session", "is" "started"]

rdd_list1=sc.parallelize(list1)

result_rdd=rdd_list1.flatMap(lambda x : x.split(" "))

print(result_rdd.collect()) ## here we get flatten data as a single list or RDD

['hello', 'students', 'pyspark', 'session', 'isstarted']

In [21]:
print(rdd_list1.collect())

print(result_rdd.collect())

['hello students', 'pyspark session is started']
['hello', 'students', 'pyspark', 'session', 'is', 'started']

In [22]:
#Count fuction: it use to count of how many element in our RDD

print(result_rdd.count())

6

In [12]:
## len() function : we call length of each elemnt which we having in our RDD

len_rdd=result_rdd.map(lambda x : len(x))

print(len_rdd.collect())

[5, 8, 7, 7, 9]

In [13]:
### now i want output in form of element,len()

sep_rdd=result_rdd.map(lambda x : (x,len(x)))

print(sep_rdd.collect())

[('hello', 5), ('students', 8), ('pyspark', 7), ('session', 7), ('isstarted', 9)]

In [14]:
list1=["hello students", "pyspark session is started", "students are doing pyspark scenarios"]
rdd_list=sc.parallelize(list1)

result_rdd=rdd_list.flatMap(lambda x: x.split(" "))
print(result_rdd.collect())

['hello', 'students', 'pyspark', 'session', 'is', 'started', 'students', 'are', 'doing', 'pyspark', 'scenarios']

In [15]:
rdd2=result_rdd.map(lambda x: (x,1))

print(rdd2.collect())

[('hello', 1), ('students', 1), ('pyspark', 1), ('session', 1), ('is', 1), ('started', 1), ('students', 1), ('are', 1), ('doing', 1), ('pyspark', 1), ('scenarios', 1)]

In [16]:
result_rdd2=rdd2.reduceByKey(lambda x,y : x+y)

print(result_rdd2.collect())

[('hello', 1), ('students', 2), ('session', 1), ('started', 1), ('are', 1), ('doing', 1), ('pyspark', 2), ('is', 1), ('scenarios', 1)]

In [17]:
list=sc.parallelize([1,2,2,1,2,3,1,3,1,2,3,3,2,3,2,3,2,])
### Distinct Function= here by using the distinct function we re able to remove duplicates from our RDD

distinct_rdd=list.distinct()

print(distinct_rdd.collect())

[2, 1, 3]

In [23]:
### reading the txt file and create RDD of it to perform the task
#Task :Read a text file amd make rdd and count the words.
rdd_txt=sc.textFile("Hello Shubham.txt")

print(rdd_txt.collect())

['Hello Shubham', 'hello Vishnu ', 'Hello Charan', 'Hello Bharath']

In [25]:
task_rdd=rdd_txt.flatMap(lambda x : x.split(" "))\
                .map(lambda x : (x,1))\
                .reduceByKey (lambda x,y : x+y)

print(task_rdd.collect())

## Now we want to save this results
## saveAsTextFile Function

task_rdd.saveAsTextFile("Results_txt")

[('Shubham', 1), ('hello', 1), ('', 1), ('Charan', 1), ('Bharath', 1), ('Hello', 3), ('Vishnu', 1)]

In [24]:
## take function: by using this function we can can mention how any elaements we have to show

list=sc.parallelize([1,2,3,4,5,6,7,8,9])

# here i want just first 5 elements

first_5=list.take(5)
print(first_5)

[1, 2, 3, 4, 5]

In [31]:
## Upload a csv file and read it and create a data frame
csv_rdd=sc.textFile("dept.csv")

print(csv_rdd.collect())

##now trying to create data frame of our rdd

from pyspark.sql import SparkSession

spark= SparkSession.builder.appName("pract").getOrCreate()

df=spark.createDataFrame(csv_rdd)

df.show()

['accountNumber,assetValue', 'DEPT3,500', 'DEPT3,300', 'DEPT1,1000', 'DEPT1,700', 'DEPT1,500', 'DEPT2,400', 'DEPT2,200']

PySparkTypeError: [CANNOT_INFER_SCHEMA_FOR_TYPE] Can not infer schema for type: `str`.