In [8]:
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName("practice").getOrCreate()

sc=spark.sparkContext

In [12]:
citibike_df=spark.read.csv("JC-202503-citibike-tripdata.csv", header=True)

citibike_df.show(10,False)

citibike_df.printSchema()

+----------------+-------------+-----------------------+-----------------------+------------------+----------------+------------------------------------------+--------------+------------------+------------------+------------------+------------------+-------------+
|ride_id         |rideable_type|started_at             |ended_at               |start_station_name|start_station_id|end_station_name                          |end_station_id|start_lat         |start_lng         |end_lat           |end_lng           |member_casual|
+----------------+-------------+-----------------------+-----------------------+------------------+----------------+------------------------------------------+--------------+------------------+------------------+------------------+------------------+-------------+
|29DAF43DD84B4B7A|electric_bike|2025-03-20 18:58:31.217|2025-03-20 19:00:46.466|6 St & Grand St   |HB302           |Mama Johnson Field - 4 St & Jackson St    |HB404         |40.744397833095604|-74.03450086712837|40.74313993965626 |-74.04004096984863|member       |
|B11B4220F7195025|electric_bike|2025-03-29 11:01:25.124|2025-03-29 11:11:09.383|Heights Elevator  |JC059           |Jersey & 3rd                              |JC074         |40.748715945380226|-74.04044330120087|40.72333158646436 |-74.04595255851744|member       |
|18D5B30305F602B9|electric_bike|2025-03-01 16:05:32.346|2025-03-01 16:07:43.156|Jersey & 3rd      |JC074           |Hamilton Park                             |JC009         |40.72333158646436 |-74.04595255851744|40.727595966      |-74.044247311     |member       |
|532EB2D9DB68567D|electric_bike|2025-03-21 18:44:15.137|2025-03-21 18:51:00.763|Jersey & 3rd      |JC074           |Jersey & 6th St                           |JC027         |40.72333158646436 |-74.04595255851744|40.72528910781132 |-74.04557168483734|member       |
|EA7C9C945D7D57AA|electric_bike|2025-03-20 11:08:27.226|2025-03-20 11:12:28.545|6 St & Grand St   |HB302           |Madison St & 1 St                         |HB402         |40.744397833095604|-74.03450086712837|40.73879          |-74.0393          |member       |
|DA232FF47222E86C|classic_bike |2025-03-13 11:11:25.452|2025-03-13 11:15:29.146|6 St & Grand St   |HB302           |Madison St & 1 St                         |HB402         |40.744397833095604|-74.03450086712837|40.73879          |-74.0393          |member       |
|416547516DE5132F|electric_bike|2025-03-28 21:51:52.621|2025-03-28 21:57:01.336|Hilltop           |JC019           |Leonard Gordon Park                       |JC080         |40.7311689        |-74.0575736       |40.74590996631558 |-74.0572714805603 |member       |
|E25EDA33910F90F0|electric_bike|2025-03-13 18:21:57.969|2025-03-13 18:26:48.536|Hilltop           |JC019           |Leonard Gordon Park                       |JC080         |40.7311689        |-74.0575736       |40.74590996631558 |-74.0572714805603 |member       |
|D209FF2521E26D16|classic_bike |2025-03-01 14:59:20.947|2025-03-01 15:06:34.299|Jackson Square    |JC063           |Bergen Ave                                |JC095         |40.71113          |-74.0789          |40.722103786686034|-74.07145500183105|member       |
|BC9F0D06A5AFF751|electric_bike|2025-03-04 09:55:18.140|2025-03-04 09:59:59.031|6 St & Grand St   |HB302           |Southwest Park - Jackson St & Observer Hwy|HB401         |40.744397833095604|-74.03450086712837|40.73755127245804 |-74.04166370630264|member       |
+----------------+-------------+-----------------------+-----------------------+------------------+----------------+------------------------------------------+--------------+------------------+------------------+------------------+------------------+-------------+
only showing top 10 rows
root
 |-- ride_id: string (nullable = true)
 |-- rideable_type: string (nullable = true)
 |-- started_at: string (nullable = true)
 |-- ended_at: string (nullable = true)
 |-- start_station_name: string (nullable = true)
 |-- start_station_id: string (nullable = true)
 |-- end_station_name: string (nullable = true)
 |-- end_station_id: string (nullable = true)
 |-- start_lat: string (nullable = true)
 |-- start_lng: string (nullable = true)
 |-- end_lat: string (nullable = true)
 |-- end_lng: string (nullable = true)
 |-- member_casual: string (nullable = true)

In [14]:
citibike_df.createOrReplaceTempView("citibike")

result=spark.sql("select rideable_type, \
                        count(*) as total_ride, \
                        min (ride_id) min_ride, \
                        max(ride_id) max_ride \
                        from citibike group by rideable_type")
result.show()
##  now i want to save this result as pequet file.

result.write.mode("append").parquet("results")

+-------------+----------+----------------+----------------+
|rideable_type|total_ride|        min_ride|        max_ride|
+-------------+----------+----------------+----------------+
| classic_bike|     24847|0004A6F6F9FDFDCE|FFFBA93AF8EC7D30|
|electric_bike|     48446|000107582539997A|FFFFC22BF2B52CD8|
+-------------+----------+----------------+----------------+

In [15]:
### Saving data as json file format.

result.write.mode("append").json("results")

In [17]:
## Dropping the columns
data=[("krishna",30),("varun",10),("ram",62)]

columns=["name","age"]

df=spark.createDataFrame(data,columns)

df.show()

df.printSchema()

+-------+---+
|   name|age|
+-------+---+
|krishna| 30|
|  varun| 10|
|    ram| 62|
+-------+---+

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [18]:
from pyspark.sql.functions import expr

df2=df.withColumn("type", expr("case when age <18 then 'minor' \
                                     when age >=18 and age <=60 then 'major' \
                                     else 'sr.citizen' end"))

df2.show()

+-------+---+----------+
|   name|age|      type|
+-------+---+----------+
|krishna| 30|     major|
|  varun| 10|     minor|
|    ram| 62|sr.citizen|
+-------+---+----------+

In [19]:
## Droping column
# i want to drop the age column.
df2=df.withColumn("type", expr("case when age <18 then 'minor' \
                                     when age >=18 and age <=60 then 'major' \
                                     else 'sr.citizen' end")).drop("age")

df2.show()

+-------+----------+
|   name|      type|
+-------+----------+
|krishna|     major|
|  varun|     minor|
|    ram|sr.citizen|
+-------+----------+

In [23]:
df_drop_age = df.drop("age","name")
df_drop_age.show() ##i droped both column here

++
||
++
||
||
||
++

In [37]:
data=[('Shubham',30),('Charan',28),('Bharat',40)]
columns=["name","age"]

df=spark.createDataFrame(data,columns)

df.show()

df.write.mode("overwrite").parquet("test")

+-------+---+
|   name|age|
+-------+---+
|Shubham| 30|
| Charan| 28|
| Bharat| 40|
+-------+---+

In [38]:
data=[('Shubham',30,"Pune"),('Charan',28,"Bangalore"),('Bharat',40,"Bangalore")]
columns=["name","age","city"]

df1=spark.createDataFrame(data,columns)

df1.show()

df.write.mode("append").parquet("test")

+-------+---+---------+
|   name|age|     city|
+-------+---+---------+
|Shubham| 30|     Pune|
| Charan| 28|Bangalore|
| Bharat| 40|Bangalore|
+-------+---+---------+

In [55]:
data=[('Shubham',30,"Pune"),('Charan',28,"Bangalore"),('Bharat',40,"Bangalore")]
columns=["name","age","city"]

df=spark.createDataFrame(data,columns)

df.show()

df.write.mode("overwrite").csv("test_csv",header=True)

+-------+---+---------+
|   name|age|     city|
+-------+---+---------+
|Shubham| 30|     Pune|
| Charan| 28|Bangalore|
| Bharat| 40|Bangalore|
+-------+---+---------+

In [56]:
data=[('Vikram',25,"Hyderabad"),('Deepika',32,"Chennai"),('Rahul',35,"Delhi")]
columns=["name","age","city"]

df1=spark.createDataFrame(data,columns)

df1.show()

df1.write.mode("append").csv("test_csv",header=True)

+-------+---+---------+
|   name|age|     city|
+-------+---+---------+
| Vikram| 25|Hyderabad|
|Deepika| 32|  Chennai|
|  Rahul| 35|    Delhi|
+-------+---+---------+

In [39]:
par_df=spark.read.parquet("test")

par_df.show()

+-------+---+
|   name|age|
+-------+---+
|Shubham| 30|
|Shubham| 30|
| Charan| 28|
| Bharat| 40|
| Charan| 28|
| Bharat| 40|
+-------+---+

In [58]:
csv_df=spark.read.csv("test_csv",header=True)

csv_df.show()

+-------+---+---------+
|   name|age|     city|
+-------+---+---------+
| Charan| 28|Bangalore|
| Bharat| 40|Bangalore|
|Deepika| 32|  Chennai|
|  Rahul| 35|    Delhi|
| Vikram| 25|Hyderabad|
|Shubham| 30|     Pune|
+-------+---+---------+

In [68]:
data=[('Shubham',30),('Charan',28),('Bharat',40)]
columns=["name","age"]

df=spark.createDataFrame(data,columns)

df.show()

df.write.mode("overwrite").parquet("test_par")

data=[('Shubham',"Pune",30),('Charan',"Bangalore",28),('Bharat',"Bangalore",40)]
columns=["name","age","city"]

df1=spark.createDataFrame(data,columns)

df1.show()

df.write.mode("append").parquet("test_par")

+-------+---+
|   name|age|
+-------+---+
|Shubham| 30|
| Charan| 28|
| Bharat| 40|
+-------+---+

+-------+---------+----+
|   name|      age|city|
+-------+---------+----+
|Shubham|     Pune|  30|
| Charan|Bangalore|  28|
| Bharat|Bangalore|  40|
+-------+---------+----+

In [69]:
par_df=spark.read.parquet("test_par")

par_df.show()

+-------+---+
|   name|age|
+-------+---+
|Shubham| 30|
|Shubham| 30|
| Charan| 28|
| Bharat| 40|
| Charan| 28|
| Bharat| 40|
+-------+---+

In [71]:
data=[('Shubham',30),('Charan',28),('Bharat',40)]
columns=["name","age"]

df=spark.createDataFrame(data,columns)

df.show()

df.write.mode("overwrite").csv("test_csv2",header=True)

data=[('Shubham',"Pune",30),('Charan',"Bangalore",28),('Bharat',"Bangalore",40)]
columns=["name","age","city"]

df1=spark.createDataFrame(data,columns)

df1.show()

df.write.mode("append").csv("test_csv2",header=True)

+-------+---+
|   name|age|
+-------+---+
|Shubham| 30|
| Charan| 28|
| Bharat| 40|
+-------+---+

+-------+---------+----+
|   name|      age|city|
+-------+---------+----+
|Shubham|     Pune|  30|
| Charan|Bangalore|  28|
| Bharat|Bangalore|  40|
+-------+---------+----+

In [72]:
csv2_df=spark.read.csv("test_csv2",header=True)

csv2_df.show()

+-------+---+
|   name|age|
+-------+---+
| Charan| 28|
| Bharat| 40|
| Charan| 28|
| Bharat| 40|
|Shubham| 30|
|Shubham| 30|
+-------+---+